.title {
    text-align: center;
    font-weight: bold;
    margin: 20px;
}

.content {
    margin: 10px 28px 28px 28px !important;
}

.right {
    text-align: right!important;
}

.info-bar {
    background-color: white;
}