.container-footer {
    padding: 20px;
    background: #eff3fd;
    height: 100%;
}
.title-footer {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat';
    flex-grow: 2;
}
.header-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.container-route-map {
    width: 240px;
    min-height: 90px;

    background: #ffffff;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
    cursor: pointer;
}
.footer-routes {
    /* display: flex;
    align-items: start;
    margin-right: -20px;
    overflow: hidden;
    padding-bottom: 5px; */
    position: relative;
    overflow: hidden;
    /* margin-right: -20px; */
    flex-grow: 2;
    min-height: 120px;
}
.container-routes {
    display: flex;
    align-items: start;
    /* overflow: hidden; */
    padding-bottom: 5px;
    position: absolute;
    left: 10px;
    transition: all 0.3s linear;
}
.header-route-map {
    color: #253f73;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
}
.header-route-map .button-plus > svg {
    font-size: 17px;
    color: #fff;
}
.header-route-map .button-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #253f73;
    border-color: transparent;
    cursor: pointer;
}
.container-address-mcp {
    font-style: italic;
}
.address-mcp {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}
.container-footer-of-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-footer-of-footer .btn-footer {
    border-color: transparent;
    font-size: 35px;
    cursor: pointer;
}
.container-footer-of-footer .btn-footer:first-child {
    margin-right: 10px;
}
.container-footer-of-footer .btn-footer:last-child {
    margin-left: 22px;
}
.container-footer-of-footer .btn-footer.btn-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.header-footer > button:first-child {
    background: #d9d9d9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 5px 10px;
    border-color: transparent;
    cursor: pointer;
}
.header-footer > button > svg {
    margin-right: 5px;
}

.header-footer > button:last-child {
    background: #253f73;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: transparent;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}

.container-route-detail {
    display: flex;
    padding: 10px 20px;
    background: #fff;
    /* box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25); */
    border-radius: 10px;
    width: 80vh;
    min-height: 100px;
    box-shadow-right: ;
}
.container-route-detail > .header-route-map {
    border-right: 2px solid #ccc;
    border-bottom: none;
    flex-grow: 1;
    padding: 0 5px;
}
.container-route-detail > .container-address-mcps .address-mcp {
    margin-top: 0px;
    margin-bottom: 2px;
}
.container-route-detail > .container-address-mcps {
    border-right: 2px solid #ccc;
    flex-grow: 1;
    padding: 0 5px;
}
.distance-route {
    flex-grow: 1;
    padding: 0 5px;
}
.footer-route-detail {
    width: 80vh;
    border-radius: 10px;
    box-shadow: -5px 0px #ed7441;
}

.container-modal-assign-route {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}
.container-modal-assign-route > div {
    padding: 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.container-modal-assign-route > div > p {
    margin: 10px 0px;
}
.container-btn-confirm-assign-route > button {
    margin-left: 20px;
    background: #98cda1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border-color: transparent;
    width: 80px;
    padding: 5px 0;
    cursor: pointer;
}
.container-btn-confirm-assign-route > button:last-child {
    background: #d9d9d9;
}
